._7njk .product-box {
    display: flex;
    margin: 0px 30px 10px 30px;
    border: 1px solid rgb(227, 188, 255);
    padding: 20px;
    width: 690px;
}

._7njk .product-box .product-details h2 {
    all: unset;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

._7njk .product-box .product-details .ratings {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

._7njk .product-box .product-details .ratings img {
    width: 20px;
}

._7njk .product-box .product-details > div {
    padding-left: 20px;
}

._7njk .product-box .product-details .ratings > span {
    font-size: 14px;
    font-weight: 500;
    color: rgb(135, 135, 135);
    margin-left: 10px;
}

._7njk .product-box .product-details .convoy-mind {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(56, 142, 60);
    padding: 2px 6px;
    border-radius: 5px;
}

._7njk .product-box .product-details .convoy-mind svg {
    fill: white;
    width: 14px;
    margin-left: 1px;
}

._7njk .product-box .product-details .price {
    position: relative;
    width: fit-content;
    color: rgb(40, 40, 40);
    margin-top: 5px;
}

._7njk .product-box .product-details .price span {
    font-size: 26px;
    padding-left: 18px;
}

._7njk .product-box .product-details .price > img {
    position: absolute;
    height: 25px;
}

._7njk .product-box .product-details .price .usable-dear {
    position: absolute;
    right: -21px;
    bottom: 1px;
    font-size: 18px;
}

._7njk .product-box .product-details .price .corset-conk {
    position: absolute;
    bottom: 2px;
    right: -55px;
    font-size: 13px;
    color: rgb(166, 166, 166);
}

._7njk .product-box .product-image img {
    width: 120px;
}

._7njk .product-box .critique-net span {
    font-size: 14px;
    background-color: rgb(227, 227, 227);
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

._7njk .product-box .fermatas-voe {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

._7njk .product-box .fermatas-voe button {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(144, 78, 186);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

._7njk .product-box .fermatas-voe button svg {
    width: 20px;
    height: 20px;
}

._7njk .product-box .critique-net input {
    height: 31px;
    border-left: none;
    border: 1px solid rgb(184, 184, 184);
    padding-left: 8px;
    outline: none;
    width: 46px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

._7njk .product-box .fermatas-voe .bilge-fox {
    color: white;
    background-color: rgb(206, 69, 76);
}
