._0zyv {
    position: absolute;
    top: 40px;
    left: -38px;
    width: 200px;
    background-color: white;
    border-top: 3px solid yellowgreen;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

._0zyv ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

._0zyv ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 35px;
    padding-left: 20px;
    color: rgb(49, 49, 49);
}

._0zyv ul li:last-of-type {
    border: none;
}

._0zyv ul li:hover {
    color: rgb(147, 93, 147);
    background-color: rgba(234, 174, 234, 0.461);
}
